* {
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 100%; }

body {
  height: 100%;
  font-family: rufina, sans-serif;
  background-color: #ffffff; }

p {
  font-family: lato, sans-serif;
  font-size: 16px;
  line-height: 18px; }

ul {
  list-style-type: none; }

/*--- LANDING PAGE ---*/
header {
  display: flex;
  text-align: right; }

.landing_page {
  background-color: #ffffff;
  padding: 0%;
  height: 95vh; }
  .landing_page nav {
    width: 100%;
    padding: 2.5% 5% 0% 5%;
    height: 10vh; }
    .landing_page nav p {
      font-family: rufina, sans-serif;
      color: #3a3a3a;
      font-size: 15px; }
  .landing_page a {
    text-decoration: none; }
  .landing_page ul {
    list-style-type: none;
    margin: 0;
    padding: 20%; }
  .landing_page .main_section {
    display: table;
    width: 100%;
    padding: 5% 10% 5% 10%;
    height: 80vh; }
    .landing_page .main_section .landing_img {
      display: table-cell;
      width: 100%;
      padding: 5% 10% 5% 15%;
      vertical-align: middle; }
    .landing_page .main_section .intro {
      width: 50%;
      padding: 2.5% 2.5% 2.5% 5%;
      display: table-cell;
      text-align: left;
      vertical-align: middle; }
      .landing_page .main_section .intro h1 {
        font-family: rufina, sans-serif;
        color: #3a3a3a;
        font-size: 35px;
        margin-bottom: 10%; }
      .landing_page .main_section .intro p {
        font-family: rufina, sans-serif;
        color: #3a3a3a;
        font-size: 18px;
        line-height: 1.5; }
      .landing_page .main_section .intro .systemsDesignHref {
        color: #57068B; }
      .landing_page .main_section .intro .systemsDesignHref:hover {
        color: #8758a5; }
      .landing_page .main_section .intro a {
        color: #FA5F73; }
      .landing_page .main_section .intro a:hover {
        text-decoration: none;
        color: #ffb6bf; }

/**** PROJECTS ****/
.project_container {
  float: none;
  margin: auto;
  width: 100%;
  height: 100%; }

.project_row {
  height: 60vh;
  width: 100%;
  padding: 5% 10% 5% 10%; }

.case_study {
  margin: 0;
  height: 60vh; }

.col-sm-6 {
  height: 100%;
  display: inline-block; }

.project_image {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  position: relative; }
  .project_image img {
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
    margin: auto; }
  .project_image .project_cover {
    position: relative;
    width: 90%;
    z-index: 2; }
  .project_image .project_decor {
    position: absolute;
    width: 1%;
    z-index: 1;
    left: 50%; }
  .project_image a {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%; }

.project_image:hover {
  cursor: pointer; }
  .project_image:hover img {
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
    margin: auto; }
  .project_image:hover .project_cover {
    width: 70%;
    z-index: 2; }
  .project_image:hover .project_decor {
    position: absolute;
    width: 100%;
    left: 0%;
    z-index: 1; }
  .project_image:hover a {
    position: absolute;
    z-index: 3; }

.project_content {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-items: center; }
  .project_content h1 {
    font-family: rufina, sans-serif;
    color: #ffffff;
    padding-left: 10%; }
  .project_content p {
    margin-top: 10%;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10%;
    color: #ffffff; }
  .project_content a {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5;
    color: #FA5F73;
    padding-left: 10%;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
    font-family: lato, sans-serif; }
  .project_content a:hover {
    text-decoration: none;
    cursor: pointer;
    padding-left: 15%;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out; }

/**** PROJECT 1 ****/
.project_1 {
  background-color: #222E95; }
  .project_1 h1 {
    font-family: rufina, sans-serif;
    color: #ffffff; }
  .project_1 p {
    color: #ffffff; }

/**** PROJECT 2 ****/
.project_2 {
  background-color: #FBAF02; }
  .project_2 h1 {
    font-family: rufina, sans-serif;
    color: #ffffff; }
  .project_2 p {
    color: #ffffff; }

/**** PROJECT 3 ****/
.project_3 {
  background-color: #FEDFEA; }
  .project_3 h1 {
    font-family: rufina, sans-serif;
    color: #3a3a3a; }
  .project_3 p {
    color: #3a3a3a; }

/**** PROJECT 4 ****/
.project_4 {
  background-color: #FE5858; }
  .project_4 h1 {
    font-family: rufina, sans-serif;
    color: #ffffff; }
  .project_4 p {
    color: #ffffff; }
  .project_4 a {
    color: #121457; }

/*--- FOOTER ---*/
footer {
  border-top: 45px solid #121457;
  background-color: white;
  width: 100%;
  height: 50vh;
  padding: 5% 10% 5% 10%;
  text-align: bottom;
  vertical-align: bottom;
  display: flex;
  align-items: bottom;
  position: relative; }
  footer h2 {
    font-family: rufina, sans-serif;
    font-size: 20px; }
    footer h2 .resumeLink {
      color: #FA5F73; }
    footer h2 .resumeLink:hover {
      text-decoration: none;
      color: #ffb6bf; }
  footer p {
    margin: 10% 0% 0% 0%;
    font-family: rufina, sans-serif;
    font-size: 16px;
    color: #121457; }
  footer ul {
    display: flex;
    text-align: bottom;
    padding: 1.5% 0% 0% 0%;
    margin: 5% 0% 0% 0%; }
    footer ul a {
      text-decoration: none;
      display: inline-block;
      margin-right: 5%;
      padding-top: 8px;
      font-size: 15px;
      width: 30px;
      height: 30px;
      text-align: center;
      transition: 0.4s all;
      line-height: 58px;
      cursor: pointer;
      background: #FA5F73;
      color: white;
      border-radius: 50%; }
    footer ul a:hover {
      text-decoration: none;
      background: white;
      color: #FA5F73;
      border-color: #FA5F73;
      border-width: 1px; }
  footer .footer_decor {
    text-align: right; }
  footer .footer_img {
    width: 100px; }

/*--- PROJECTS ---*/
.project_page header {
  display: flex;
  text-align: left; }
.project_page .landing_page {
  background-color: #222E95;
  padding: 0%;
  height: 95vh;
  /* back button */
  /* project landing page */ }
  .project_page .landing_page nav {
    width: 100%;
    padding: 2.5% 5% 0% 5%;
    height: 10vh;
    align: right;
    position: fixed;
    z-index: 2; }
    .project_page .landing_page nav a {
      text-decoration: none;
      font-family: rufina, sans-serif;
      color: #3a3a3a;
      font-size: 15px;
      -webkit-transition: 250ms ease-out;
      -moz-transition: 250ms ease-out;
      -o-transition: 250ms ease-out;
      transition: 250ms ease-out; }
    .project_page .landing_page nav a:hover {
      text-decoration: none;
      padding-left: 2.5%;
      -webkit-transition: 250ms ease-out;
      -moz-transition: 250ms ease-out;
      -o-transition: 250ms ease-out;
      transition: 250ms ease-out; }
  .project_page .landing_page .main_section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    height: 95vh;
    /* project landing img */
    /* project landing content */ }
    .project_page .landing_page .main_section .landing_img {
      display: table-cell;
      width: 60%;
      padding: 0% 5% 0% 0%;
      margin: 0;
      vertical-align: middle; }
    .project_page .landing_page .main_section .project_intro {
      display: table-cell;
      vertical-align: middle;
      padding: 0% 0% 0% 5%; }
      .project_page .landing_page .main_section .project_intro h1 {
        font-family: rufina, sans-serif;
        font-weight: 800;
        color: white; }
      .project_page .landing_page .main_section .project_intro h3 {
        font-family: rufina, sans-serif;
        color: #FBAF02;
        font-size: 20px;
        margin: 7% 0% 3% 0%; }
      .project_page .landing_page .main_section .project_intro p {
        font-family: lato, sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.5em;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 0%; }
        .project_page .landing_page .main_section .project_intro p .shoutout {
          color: #FE5858; }
        .project_page .landing_page .main_section .project_intro p .shoutout:hover {
          color: #FEDFEA;
          text-decoration: none; }

/* project written content */
.project_page_content {
  z-index: 1;
  padding: 2.5% 20% 2.5% 20%;
  background-color: white; }
  .project_page_content h2 {
    font-family: rufina, sans-serif;
    font-size: 35px;
    line-height: 1.5em;
    color: #3a3a3a;
    margin: 5% 0% 1.5% 0%; }
  .project_page_content h3 {
    font-family: rufina, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5em;
    color: #9f9f9f;
    margin: 2% 0% 0% 0%; }
  .project_page_content p {
    font-family: lato, sans-serif;
    font-size: 15px;
    line-height: 2em;
    color: #3a3a3a;
    margin: 0% 0% 0% 0%; }

/**** project image content */
.project_page_image {
  z-index: 1;
  background-color: #222E95;
  padding: 5%; }
  .project_page_image .demo_image_row {
    margin: auto;
    width: 100%; }
    .project_page_image .demo_image_row img {
      margin: auto;
      width: 100%; }
    .project_page_image .demo_image_row .image_description {
      text-align: center;
      padding-top: 2.5%;
      font-family: lato, sans-serif;
      color: #3a3a3a;
      font-size: 15px; }

.next_project {
  position: relative;
  float: none;
  margin-top: 10%;
  width: 100%;
  height: 40%; }
  .next_project .next_project_rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: #FEDFEA; }
  .next_project .next_project_image {
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10%; }
    .next_project .next_project_image img {
      margin: 5% 0% 5% 0%;
      width: 70%; }
  .next_project .next_project_content {
    text-align: right;
    padding-right: 10%;
    height: 100%; }
    .next_project .next_project_content h3 {
      margin: 12% 0% 7.5% 0%;
      font-size: 35px;
      font-weight: 800;
      font-family: rufina, sans-serif; }
    .next_project .next_project_content a {
      margin-top: 20%;
      color: #FA5F73;
      font-family: lato, sans-serif;
      text-decoration: none;
      -webkit-transition: 250ms ease-out;
      -moz-transition: 250ms ease-out;
      -o-transition: 250ms ease-out;
      transition: 250ms ease-out; }
    .next_project .next_project_content a:hover {
      padding-right: 2.5%;
      -webkit-transition: 250ms ease-out;
      -moz-transition: 250ms ease-out;
      -o-transition: 250ms ease-out;
      transition: 250ms ease-out; }

/*---- SYDEDOOR ----*/
.project_1_page {
  /* next project */ }
  .project_1_page .project_page header {
    display: flex;
    text-align: left; }
  .project_1_page .project_page .landing_page {
    background-color: #222E95; }
    .project_1_page .project_page .landing_page nav p {
      color: #FA5F73; }
    .project_1_page .project_page .landing_page .main_section .project_intro h1 {
      color: white; }
    .project_1_page .project_page .landing_page .main_section .project_intro h3 {
      color: #FBAF02; }
    .project_1_page .project_page .landing_page .main_section .project_intro p {
      color: white; }
  .project_1_page .project_page_content h2 {
    color: #3a3a3a; }
  .project_1_page .project_page_content p {
    color: #3a3a3a; }
  .project_1_page .project_page_image {
    background-color: #222E95; }
  .project_1_page .next_project .next_project_rectangle {
    background-color: #FEDFEA; }
  .project_1_page .next_project .next_project_content a {
    color: #FA5F73; }

/*---- INVENTORY ----*/
.project_2_page {
  /* next project */ }
  .project_2_page .project_page header {
    display: flex;
    text-align: left; }
  .project_2_page .project_page .landing_page {
    background-color: #FEDFEA; }
    .project_2_page .project_page .landing_page nav p {
      color: #FA5F73; }
    .project_2_page .project_page .landing_page .main_section .project_intro h1 {
      color: #121457; }
    .project_2_page .project_page .landing_page .main_section .project_intro h3 {
      color: #FBAF02; }
    .project_2_page .project_page .landing_page .main_section .project_intro p {
      color: #3a3a3a; }
  .project_2_page .project_page_content h2 {
    color: #3a3a3a; }
  .project_2_page .project_page_content p {
    color: #3a3a3a; }
  .project_2_page .project_page_image {
    background-color: #FEDFEA; }
  .project_2_page .next_project .next_project_rectangle {
    background-color: #FBAF02; }
  .project_2_page .next_project .next_project_content a {
    color: #FA5F73; }

/*---- REDEMPTION ----*/
.project_3_page {
  /* next project */ }
  .project_3_page .project_page header {
    display: flex;
    text-align: left; }
  .project_3_page .project_page .landing_page {
    background-color: #FBAF02; }
    .project_3_page .project_page .landing_page nav p {
      color: #FA5F73; }
    .project_3_page .project_page .landing_page .main_section .project_intro h1 {
      color: #ffffff; }
    .project_3_page .project_page .landing_page .main_section .project_intro h3 {
      color: #121457; }
    .project_3_page .project_page .landing_page .main_section .project_intro p {
      color: #ffffff; }
  .project_3_page .project_page_content h2 {
    color: #3a3a3a; }
  .project_3_page .project_page_content p {
    color: #3a3a3a; }
  .project_3_page .project_page_image {
    background-color: #FBAF02; }
  .project_3_page .next_project .next_project_rectangle {
    background-color: #FE5858; }
  .project_3_page .next_project .next_project_content a {
    color: #222E95; }

/*---- FOODSAVER ----*/
.project_4_page {
  /* next project */ }
  .project_4_page .project_page header {
    display: flex;
    text-align: left; }
  .project_4_page .project_page .landing_page {
    background-color: #FE5858; }
    .project_4_page .project_page .landing_page nav p {
      color: #FA5F73; }
    .project_4_page .project_page .landing_page .main_section .project_intro h1 {
      color: #ffffff; }
    .project_4_page .project_page .landing_page .main_section .project_intro h3 {
      color: #ffffff; }
    .project_4_page .project_page .landing_page .main_section .project_intro p {
      color: #3a3a3a; }
  .project_4_page .project_page_content h2 {
    color: #3a3a3a; }
  .project_4_page .project_page_content p {
    color: #3a3a3a; }
  .project_4_page .project_page_image {
    background-color: #FE5858; }
  .project_4_page .next_project .next_project_rectangle {
    background-color: #222E95; }
  .project_4_page .next_project .next_project_content a {
    color: #FA5F73; }

/*# sourceMappingURL=style.css.map */
